.btn{
    color: aquamarine;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.ena {
    text-emphasis-color: green;
}

.background-image {
    background-image: url('banner.png'); 
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.overlay-text h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.overlay-text p {
    font-size: 1.5em;
}